<div class="container-fluid">
	<div class="container footer-body">
		<div class="footer">
			<p class="text-muted">
				Made with <i class="fas fa-heart"></i> by Jugal Lad
			</p>
			<p class="text-muted">
				Copyrights 2020.
			</p>
				<a class="icon" href="https://github.com/jugal09xx/covidapp"><i class="fab fa-github"></i></a>
				<a class="icon" href="https://linkedin.com/in/jugal-lad-48153418b"><i class="fab fa-linkedin"></i></a>
				<a class="icon" href="https://instagram.com/this_is_jugxl/"><i class="fab fa-instagram"></i></a>
				
		</div>
	</div>
</div>
</body>
</html>