<div class="container-fluid">
	<div class="container footer-body">
		<div class="footer">
			<p class="text-muted">
				Made with <i class="fas fa-heart"></i> by Jugal Lad
			</p>
			<p class="text-muted">
				Copyrights 2020.
			</p>
		</div>
	</div>
</div>
</body>
</html>